body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header Styles */

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

.header--secondary{
    color: #ffffff;
    font-weight: 300;
    font-size: 42px;
}

.header--sub-header{
    font-size: 21px;
    color: grey;
}

/*Links*/

.link--cta {
    font-size: 16px;
    color: aquamarine;
}